.popup {
  position: fixed;
  top: 20px; /* Distância da parte superior da tela */
  right: 20px; /* Distância do lado direito da tela */
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Largura do popup */
  text-align: center;
  z-index: 10; /* Mantém o popup acima de outros elementos */
}

.popup-content {
  color: #303030;
}
